# Dependencies
node_modules/
.next/

# Build
dist/
target/
*.class
*.jar

# Env
*.local
.env

# IDE
.vscode/
.idea/
*.iml
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*

# Maven
backend/target/
